<nav class="navbar navbar-expand-lg navbar-light bg-gradient barraSuperior cabecera-div container">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="navbar-brand" href="#">API-Cultura</a>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="tienda">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="temporadas">Temporadas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="sobre-nosotros">Sobre nosotros</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Estoy buscando..." aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Buscar</button>
      </form>

      <a class="link-dark iconos-redes" href="https://twitter.com/?lang=es"><img class="icon" src="/assets/Iconos/twitter.svg"></a>
      <a class="link-dark iconos-redes" href="https://www.instagram.com/?hl=es"><img class="icon" src="/assets/Iconos/instagram.svg"></a>
      <a class="link-dark iconos-redes" href="https://es-es.facebook.com/"><img class="icon" src="/assets/Iconos/facebook.svg"></a>
    </div>
  </div>
</nav>
