
<div class="container" >
  <h2 class="nombreProducto">{{ nombreProducto }}</h2>
  <img [src]="imgProducto" class="card-img-top imagen shadow">
  <p>Vendedores disponibles</p>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3" >
    <ng-container *ngFor="let p of provee">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">{{ p.nombreProveedor }}</p>
          <p *ngIf="nombreProducto=='Huevos';else elseBlock">
            Precio: {{ p.precio }}€/cartón
          </p>
          <ng-template #elseBlock>Precio: {{ p.precio }}€/kg</ng-template>
          <p class="card-text">Población: {{ p.poblacion }}</p>
          <p class="card-text">Tlfn: {{ p.telefono }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
