<div class="container div_general">
  <h2>Temporada de {{ nombreTemporada }}</h2>
  <div class="container div_meses">
    <p class="desc">Estos son los productos disponibles durante la temporada de {{ nombreTemporada }}:</p>
    <p class="meses">Meses:</p>
    <p *ngFor="let m of meses" class="meses">
      {{ m }}
    </p>
  </div>

  <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3 div_img">
    <ng-container *ngFor="let p of pertenece">
      <div class="card border-0">
        <img [src]="p.imgProducto" class="card-img-top rounded-circle" alt="...">
        <div class="card-body">
          <p class="card-text">{{ p.nombreProducto }}</p>
        </div>
        <button type="button" class="btn btn-sm btn-outline-dark btn-blue" [routerLink]="'/productos/'+p.idProducto">Ver</button>
      </div>
    </ng-container>
  </div>
</div>
