<div>
  <h3>¿Quiénes somos?</h3>
  <img src="/assets/img/about.jpg">
</div>
<br>
<div>
  <p>API-Cultura existe por y para nuestros usuarios. Nuestro objetivo es proporcionar información de contacto para que cualquier persona sea capaz de encontrar los productos naturales que esté buscando, con el mejor precio, gran facilidad y una interfaz sencilla e intuitiva.</p>
</div>
<br>
<div>
  <form>
    <legend>Danos tu opinión</legend>
      <input type="text" id="nombre" placeholder="Nombre" required>
      <input type="text" id="apellidos" placeholder="Apellidos">
      <br>
      <input type="mail" id="email" placeholder="Email" required>
      <input type="tel" id="telefono" placeholder="Teléfono">
      <br>
      <textarea name="comentarios" rows="5" cols="50" placeholder="Escribe tus comentarios aquí" required></textarea>
      <div class="col-12">
      <button class="btn btn-primary" type="submit">Enviar comentarios</button>
    </div>
  </form>
</div>
