<h2>Temporadas</h2>
<div class="cajas">
  <img src="/assets/Temporadas/primavera.jpg" class="card-img-top rounded img-fluid" alt="Primavera">
  <div class="card-body">
    <h5 class="card-title">Primavera</h5>
    <a href="" class="btn btn-primary">Ver</a>
  </div>

  <img src="/assets/Temporadas/verano.jpg" class="card-img-top rounded img-fluid" alt="Verano">
  <div class="card-body">
    <h5 class="card-title">Verano</h5>
    <a href="" class="btn btn-primary">Ver</a>
  </div>

  <img src="/assets/Temporadas/otono.jpg" class="card-img-top rounded img-fluid" alt="Otoño">
  <div class="card-body">
    <h5 class="card-title">Otoño</h5>
    <a href="" class="btn btn-primary">Ver</a>
  </div>

  <img src="/assets/Temporadas/invierno.jpeg" class="card-img-top rounded img-fluid" alt="Invierno">
  <div class="card-body">
    <h5 class="card-title">Invierno</h5>
    <a href="" class="btn btn-primary">Ver</a>
  </div>
</div>
