<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-5 offset-1">
        <form>
          <h5>Email*</h5>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="">
            <button class="btn btn-primary" type="button">Suscríbete</button>
          </div>
        </form>
      </div>
      <div class="col-5 offset-1">
        <h5>Síguenos en nuestras redes sociales</h5>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="https://twitter.com/?lang=es"><p>Twitter</p></a></li>
          <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/?hl=es"><p>Instagram</p></a></li>
          <li class="ms-3"><a class="link-dark" href="https://es-es.facebook.com/"><p>Facebook</p></a></li>
        </ul>
      </div>
    </div>
    <div class="justify-content-between py-4 my-4 border-top copyright">
      <p>&copy; 2022 by API-Cultura</p>
    </div>
  </footer>
</div>
