<div class="container">
  <footer class="py-3">
    <div class="row footer">
      <div class="col-10 offset-1 text-center">
        <h5>Síguenos en nuestras redes sociales</h5>
        <ul class="list-unstyled d-inline-flex">
          <li class="ms-3"><a class="link-dark" href="https://twitter.com/?lang=es"><img src="/assets/Iconos/twitter.svg" class="icon"></a></li>
          <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/?hl=es"><img src="/assets/Iconos/instagram.svg" class="icon"></a></li>
          <li class="ms-3"><a class="link-dark" href="https://es-es.facebook.com/"><img src="/assets/Iconos/facebook.svg" class="icon"></a></li>
        </ul>
      </div>
      <!-- <div class="col-11">
        <form>
          <h5>Email*</h5>
          <div class="d-flex w-100 gap-2">
            <input id="newsletter1" type="text" class="form-control" placeholder="">
            <button class="btn btn-primary" type="button">Suscríbete</button>
          </div>
        </form>
      </div> -->
      <div class="justify-content-between border-top copyright">
        <br>
        <p>&copy; 2022 by API-Cultura</p>
      </div>
    </div>
  </footer>
</div>



